{% extends 'post_login_base/base.html' %}

{% block title %}{{ project.title }}{% endblock title %}

{% block content %}
<div class="card cust-card-large-img" style="background-image: url({{project.image.url}});">
    <div class="bg-prj p-5 m-5 d-flex justify-content-between align-items-stretch" style="max-width: 50%;">
        <div class="bg-prj">
            <strong class="font-weight-bold"> {{ project.title }} </strong>
            <div class="p-2" style="max-width: 500px;">
                {{ project.description }}
            </div>
        </div>
    
        <div style="max-width: 30%;">
            <h4 class="font-weight-bold text-white justify-content-between mb-1">Tasks</h4>
            <ul class="list-group">
                {% for task in project.tasks.all %}
                    <li class="bg-prj list-group-item" style="border-radius: 0px;"> 
                        <form action="{% url 'projects:mark_complete' task.slug task.date_created.year task.date_created.month task.date_created.day %}" method="post">
                            {% csrf_token %}
                            <input class="form-check-input" type="checkbox" id="task-{{ task.id }}" name="task-{{ task.id }}" {% if task.status == 'c' %}checked{% endif %} onclick="this.form.submit()">
                            <label class="form-check-label" for="task-{{ task.id }}">{{ task.description }} ({{ task.date_due }})</label>
                        </form>
                        <a href="{% url 'projects:edit_task' task.slug task.date_created.year task.date_created.month task.date_created.day %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'projects:delete_task' task.slug task.date_created.year task.date_created.month task.date_created.day %}" class="btn btn-danger">Delete</a>
                    </li>
                {% endfor %}
            </ul>
            <a class="btn btn-success mt-1" style="border-radius: 0%;" href="{% url 'projects:create_task' project.slug project.date_created.year project.date_created.month project.date_created.day %}">Add Tasks</a>
        </div>
    </div>
</div>


{% endblock content %}
