{% extends 'post_login_base/base.html' %}

{% block title %}Projects{% endblock title %}

{% block content %}
	{% for project in projects %}
		<a href="{{project.get_absolute_url}}" class="card-link">
			<div class="col-lg-6">
				<div class="card_container">
					<div class="card">
						<div class="card-body">
							<div class="row">
								<div class="col">
									<div>
                                        <label class="headings">Project Title :</label>
										<h4 class="card-title">{{ project }}</h4>
                                        <label class="headings">Due Date :</label><br>
										<time>{{ project.date_due }}</time>
									</div>
								</div>
								<div class="col">
									<div class="progress mb-4">
										<div class="progress-bar bg-primary" role="progressbar" style="width: {{project.progress}}%" aria-valuenow="{{project.progress}}" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
						</div>
                        <label class="sub-headings">Tasks :</label><br>
						{% for task in project.tasks.all %}
							<ul class="list-group list-group-flush">
								<li class="list-group-item">
                                    <input type="checkbox" class="task-checkbox" />
                                    {{task.description}}
                                </li>
							</ul>
						{% endfor %}
						<div class="card-body">
							<a href="{% url 'projects:edit' project.slug project.date_created.year project.date_created.month project.date_created.day %}"><button class="btn btn-primary">Edit</button></a>
							<a href="{% url 'projects:delete' project.slug project.date_created.year project.date_created.month project.date_created.day %}"><button class="btn btn-danger">Delete</button></a>
						</div>
					</div>
				</div>
			</div>
		</a>
	{% empty %}
		None
	{% endfor %}
{% endblock content %}
