{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

<ul class="socialaccount_providers">
	{% include "socialaccount/snippets/provider_list.html" with process="login" %}
</ul>

<div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
	{% csrf_token %}
	<!-- Email address input-->
	<h2>Sign into your account</h2>
	<div class="flex-column">
		{% for field in form %}
			<div class="col m-5">
				{{field}} {{field.errors}}
				{% if field.label == remember %}
					
				{% endif %}
			</div>
		{% endfor %}
		{% if redirect_field_value %}
			<input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}">
		{% endif %}
	</div>
	<div class="row mt-3">
		<div class="col">
		<button class="btn btn-success btn-lg" id="submitButton" type="submit">Login</button>
		</div>
	</div>
	<div class="row mt-3">
		<div class="col">
		<a href="{% url 'account_reset_password' %}" class="text-muted">Forgot your password?</a>
		</div>
	</div>
	<div class="row mt-3">
		<div class="col">
		<a href="{% url 'account_signup' %}" class="text-muted">Don't have an account yet? Register here</a>
		</div>
	</div>
</form>
{% endblock %}
