{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>CodeCraft | Profile</title>

        <!--Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'landing-page/img/logo.png' %}"/>
        {% include 'account/dependancies/css.html' %}

    </head>
    <body id="profilePage">
        <div class="container bootstrap snippets bootdey">
            <div class="row">
                <div class="profile-nav col-md-3">
                    <div class="panel">
                        <div class="user-heading round">
                            <a href="#">
                                {% if user.pfp %}
                                    <img src="{{user.pfp.url}}" alt="">
                                {% else %}
                                    <img src="{% static 'home/img/undraw_profile.svg' %}" alt="">
                                {% endif %}
                            </a>
                            <h1>{{user.username}}</h1>
                            <p>{{user.email}}</p>
                        </div>
                        <div class="nav-item" style="cursor: pointer;">
                            <a class="nav-link collapsed" href="{% url 'edit-profile' user.email %}">
                                <i class="fa fa-edit"></i>
                                <span>Edit Profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="profile-info col-md-9">
                    <div class="panel">
                        <div class="bio-graph-heading d-flex flex-column">
                            <span>TOTAL NUMBER OF PROJECTS: {{total_projects.count}}</span>
                            <span>COMPLETED: {{complete_projects.count}}</span>
                            <span>INCOMPLETE: {{incomplete_projects.count}}</span>
                        </div>
                        <div class="panel-body bio-graph-info">
                            <div class="row">
                                <div class="bio-row">
                                    <p><span>First Name </span>: {{user.first_name}}</p>
                                </div>
                                <div class="bio-row">
                                    <p><span>Last Name </span>: {{user.last_name}}</p>
                                </div>
                                <div class="bio-row">
                                    <p><span>Username </span>: {{user.username}}</p>
                                </div>
                                <div class="bio-row">
                                    <p><span>Email </span>: {{user.email}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="container">
                            <div class="row">
                                {% for project in total_projects %}
                                <div class="col-md-4">
                                    <div class="panel">
                                        <div class="panel-body">
                                            <div class="bio-desk">
                                                <h4 class="red">{{ project.title }}</h4>
                                                <span>DEADLINE: {{project.date_due}}</span>
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% empty %}
                                    <div>
                                        None
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'account/dependancies/js.html' %}
    </body>
</html>