*,
*::before,
*::after {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.contact-info {
    background-image: url('{% static 'landing-page/img/background.jpg' %}');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    
    padding: 50px; /* Add padding to the section if needed */
    color: #fff; /* Set text color for better contrast */
    cursor: pointer;
}


.contactus h2{
    color: white;
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 20px;
    text-align: center;
}

.contactus p{
    color: white;
    text-align: center;
}


.contact-content{
    justify-content: space-between;
}

.contact_icon{
    height: 40px;
    width: 40px;
    background-color: beige;
    border-radius: 50%;
    color: black;
    text-align: center;
}

.contact-info-major {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Or any other alignment option based on your design */
}

.contact-box,
.contact-form {
    flex: 1;
    padding: 20px;
}

.contact-box {
    display: flex;
    flex-direction: column;
    
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* Additional styling for the form inputs and buttons */
/* .contact-form input[type="text"], */
.form{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 50%;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
}

.contact-form textarea ,
.input-box input{
    border: 0px; transparent;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    width: 8cm;
    background-color: transparent;
    border-bottom: 2px solid rgb(2, 2, 66);
    cursor: pointer;    
}

.contact-form textarea {
    height: 5cm;
}

.contact-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3;
}


.input-box label{
    transition: 0.9s ease-in-out;
    margin-top: 10px; 
}

.input-box input:focus +label{
    transform: translateY(-20px);
}


.text-black{
    font-size: medium;
    font-weight: bold;
}

.navbar a {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}
