<div id="feedbackModal" class="modal" tabindex="11" role="dialog" aria-labelledby="feedbackModalLabel" aria-hidden="true">
    <div class="modal-dialog bounceLeftIn">
        <div class="">
            <div class="">
                <small>Enter message (optional) and click button "Send"</small>
                <div class="wrapper centered">
                  <article class="letter">
                    <div class="side">
                      <h1>Contact us</h1>
                      <p>
                        <textarea placeholder="Your message"></textarea>
                      </p>
                    </div>
                    <div class="side">
                      <p>
                        <input type="text" placeholder="Your name" >
                      </p>
                      <p>
                        <input type="email" placeholder="Your email" >
                      </p>
                      <p>
                        <button id="sendLetter">Send</button>
                      </p>
                    </div>
                  </article>
                  <div class="envelope front"></div>
                  <div class="envelope back"></div>
                </div>
                <p class="result-message centered">Thank you for your message</p>
            </div>
        </div>
    </div>
</div>

