{% extends 'pre_login_base/base.html' %}
{% load static %}

{% block title %}Welcome{% endblock title %}
{% block body %}
<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top p-2">
	<!-- Favicon-->
	<a href="{% url 'core:index' %}">
		<img 
			style="
				border-radius: 100%;
				width: 55px;
				height: 70px;
				object-fit: contain;
			"
			src="{% static 'landing-page/img/logo.jpeg' %}" />
	</a>
</nav>
<!-- Masthead-->
<header class="masthead">
	<div class="container position-relative">
		<div class="row justify-content-center">
			<div class="col-xl-6">
				<div class="text-center text-white">
					<!-- Page heading-->
					<h1 class="mb-5">Step into a World of Productivity!</h1>
					<div>
						<a href="{% url 'account_login' %}"><button class="btn btn-success m-1">Login</button></a>
						<a href="{% url 'account_signup' %}"><button class="btn btn-primary m-1">Signup</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- Image Showcases-->
<section class="showcase">
	<div class="container-fluid p-0">
		<div class="row g-0">
			<div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{% static 'landing-page/img/logo.jpeg' %}')"></div>
			<div class="col-lg-6 order-lg-1 my-auto showcase-text">
				<h2>CodeCraft</h2>
				<p class="lead mb-0">Discover Seamless Task Management with CodeCraft.
							Your tasks, beautifully organized and responsive across all devices - from your phone to your tablet and desktop. Welcome to a world where productivity meets elegance!</p>
			</div>
		</div>
		<div class="row g-0">
			<div class="col-lg-6 text-white showcase-img" style="background-image: url('{% static 'landing-page/img/picture3.jpeg' %}')"></div>
			<div class="col-lg-6 my-auto showcase-text">
				<h2>Projects</h2>
				<p class="lead mb-0">Revolutionize your project management as a programmer. Track, conquer, and code with precision. Embrace the power of organized programming today!"</p>
			</div>
		</div>
		<div class="row g-0">
			<div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{% static 'landing-page/img/picture2.jpeg' %}')"></div>
			<div class="col-lg-6 order-lg-1 my-auto showcase-text">
				<h2>Ease of Use</h2>
				<p class="lead mb-0">Effortlessly add your content and images, and voilà - your progress is at your fingertips, fully responsive across devices. Embrace the ease of use and creative control as you embark on your organized journey!"</p>
			</div>
		</div>
	</div>
</section>
{% endblock body %}
