{% extends 'pre_login_base/base.html' %}
{% load static %}

{% block title %}Welcome{% endblock title %}
{% block body %}
<!-- Masthead-->
<header class="masthead" style="background-image: url('{% static 'landing-page/img/banner.jpg' %}')">
	<div class="container position-relative">
		<div class="row justify-content-center">
			<div class="col-xl-6">
				<div class="text-center text-white">
					<!-- Page heading-->
					<h1 class="mb-5">Step into a World of Productivity!</h1>
					<div>
						<a href="{% url 'account_login' %}"><button class="btn btn-success m-1">Login</button></a>
						<a href="{% url 'account_signup' %}"><button class="btn btn-primary m-1">Signup</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- Image Showcases-->
<section class="showcase">
	<div class="container-fluid p-0">
		<div class="row g-0">
			<div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{% static 'landing-page/img/Codecraft.jpeg' %}'); background-colour: black;"></div>
			<div class="col-lg-6 order-lg-1 my-auto showcase-text" id="About">
				<h2>CodeCraft</h2>
				<p class="lead mb-0 text-dark">
                    Discover Seamless Task Management with CodeCraft.
                    Your tasks, beautifully organized and responsive across all devices - from your phone to your tablet and desktop. Welcome to a world where productivity meets elegance!
                </p>
			</div>
		</div>
		<div class="row g-0">
			<div class="col-lg-6 text-white showcase-img" style="background-image: url('{% static 'landing-page/img/picture3.jpeg' %}')"></div>
			<div class="col-lg-6 my-auto showcase-text">
				<h2>Projects</h2>
				<p class="lead mb-0 text-dark">Revolutionize your project management as a programmer. Track, conquer, and code with precision. Embrace the power of organized programming today!"</p>
			</div>
		</div>
		<div class="row g-0">
			<div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{% static 'landing-page/img/picture2.jpeg' %}')"></div>
			<div class="col-lg-6 order-lg-1 my-auto showcase-text">
				<h2>Ease of Use</h2>
				<p class="lead mb-0 text-dark">Effortlessly add your content and images, and voilà - your progress is at your fingertips, fully responsive across devices. Embrace the ease of use and creative control as you embark on your organized journey!"</p>
			</div>
		</div>
        <div class="row g-0" id="services">
			<div class="col-lg-6 text-white showcase-img" style="background-image: url('{% static 'landing-page/img/notes.jpeg' %}')"></div>
			<div class="col-lg-6 my-auto showcase-text">
				<h2>Services</h2>
				<p class="lead text-dark mb-0">
                    Track your projects and their progress.
                    Organize projects into tasks and sub-tasks.
                    Set milestones and deadlines.Receive reminders and notifications for upcoming task deadlines.
                    Set custom notification preferences.Integrate with Git repositories for developers to link tasks with code changes.
                    Automatically update task statuses based on code commits!
                </p>
			</div>
		</div>
	</div>
</section>

{% comment %} <section class="contact-info" style="background-image: url('{% static 'landing-page/img/background.jpg' %}');">
    <div class="contactus" id="contact">
        <h2>Contact Us</h2>
        <p>Feel free to get in touch with us! We're here to assist you and answer any questions you might have.<br>
            You can reach us using the following contact methods:</p>
    </div>
    <div class="contact-info-major">
        <div class="contact-form bg-black bg-opacity-50 rounded d-flex justify-content-around">
            <div class="contact-box">
                <div class="contact-box-icon">
                    <div class="contact_icon d-flex justify-content-center align-items-center">
                        <i class="fas fa-phone"></i>
                    </div>
                    <div class="contact-content">
                        <h3>Phone</h3>
                        <p>
                            Interested in Services offered by Codecraft?
                            <br>
                            Just pick up the phone to chat with a member
                        </p>
                        <p class="text-black">+254 712 345 678</p>
                    </div>
                </div>
                <div class="contact-box-icon">
                    <div class="contact_icon d-flex justify-content-center align-items-center">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="contact-content">
                        <h3>Email</h3>
    
                        <p>
                            Just send us your questions or concerns 
                            <br>
                            and we will give you the help you need
                        </p>
                        <p href="mailto:codecraft@gmail.com" class="text-black">tech.codecraft1@gmail.com</p>
    
                        <p>Send us your questions or concerns,<br>
                            we will certainly give you the help you need</p>
                        <p href="mailto:codecraft@gmail.com" class="text-black">codecraft@gmail.com</p>
    
                    </div>
                </div>
            </div>
            <div>
                <form id="contactForm" class="d-flex align-items-center justify-content-evenly mr-5">
                    <h2>Send Us a Message</h2>
                    <div class="form-box">
                        <div class="input-box">
                            <label for="email">Full Name :</label><br>
                            <input type="text" id="name" required="true">
                        </div>
                        <div class="input-box">
                            <label for="email">Email Adress :</label><br>
                            <input type="email" id="email" required="true">
                        </div>
                        <div class="input-box">
                            <label for="subject">Subject :</label><br>
                            <input type="text" id="subject" required>
                        </div>
                        <div class="input-box">
                            <label for="description">Description:</label><br>
                            <textarea id="description" cols="30" rows="10" required="true" class="bg-transparent"></textarea>
                        </div>
                        <div class="input-box">
                            <button type="submit" class="btn btn-primary m-1">submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section> {% endcomment %}

{% endblock body %}
