/* Initially hide the content */
.hidden-content {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Apply this rule when the hidden-content class is removed */
body:not(.hidden-content) {
  opacity: 1;
  pointer-events: auto;
}

.auto,


.dark,
.dark *:not(.dropdown-item, a *){
  background: black; 
  /* color: white; */
}

.night,
.night *:not(.dropdown-item, a *){
  background: #5a5c69; 
  /* color: white; */
}