body {
    background-color: #545454;
    font-weight: 300;
}

/* Initially hide the content */
.hidden-content {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

body:not(.hidden-content) {
    opacity: 1;
    pointer-events: auto;
}

.modal-overlay {
    background: rgba(0, 0, 0, 0.5) !important;
}

.black-accordion {
    background-color: black !important;
    color: white;
}

.grey-accordion {
    background-color: #26282b !important;
    color: white;
}

.dark,
.dark *:not(.dropdown-item, .accordion *, a *, .card *) {
    background: black;
    /* color: white; */
}

.night,
.night *:not(.dropdown-item, a *, .accordion *, .card *) {
    background: #26282b;
    /* background-color: #26282b; */
    /* color: white; */
}

.card-profile {
    width: 380px;
    border: none;
    border-radius: 15px;
    padding: 8px;
    position: relative;
    height: 100;
}

.upper-profile {

    height: 100px;

}

.upper-profile img {

    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.user-profile {
    position: relative;
}

.profile img {
    height: 80px;
    width: 80px;
    margin-top: 2px;
}

.profile {

    position: absolute;
    top: -50px;
    left: 38%;
    height: 90px;
    width: 90px;
    border: 3px solid #fff;
    border-radius: 50%;

}

.follow-profile {

    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    height: 35px;
}

.stats-profile span {
    font-size: 29px;
}

.bg-prj {
    background: rgba(0, 0, 0, 0.5) !important;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}

.shake-hover:hover .fa-flag-o{
    -webkit-animation-delay: var(--fa-animation-delay,0s);
    animation-delay: var(--fa-animation-delay,0s);
    -webkit-animation-direction: var(--fa-animation-direction,normal);
    animation-direction: var(--fa-animation-direction,normal);
    -webkit-animation-name: fa-shake;
    animation-name: fa-shake;
    -webkit-animation-duration: var(--fa-animation-duration,1s);
    animation-duration: var(--fa-animation-duration,1s);
    -webkit-animation-iteration-count: var(--fa-animation-iteration-count,infinite);
    animation-iteration-count: var(--fa-animation-iteration-count,infinite);
    -webkit-animation-timing-function: var(--fa-animation-timing,linear);
    animation-timing-function: var(--fa-animation-timing,linear);
}

.fade-hover:hover .fa-hourglass-end {
    -webkit-animation-delay: var(--fa-animation-delay,0s);
    animation-delay: var(--fa-animation-delay,0s);
    -webkit-animation-direction: var(--fa-animation-direction,normal);
    animation-direction: var(--fa-animation-direction,normal);
    -webkit-animation-duration: var(--fa-animation-duration,1s);
    animation-duration: var(--fa-animation-duration,1s);
    -webkit-animation-name: fa-fade;
    animation-name: fa-fade;
    -webkit-animation-iteration-count: var(--fa-animation-iteration-count,infinite);
    animation-iteration-count: var(--fa-animation-iteration-count,infinite);
    -webkit-animation-timing-function: var(--fa-animation-timing,cubic-bezier(.4,0,.6,1));
    animation-timing-function: var(--fa-animation-timing,cubic-bezier(.4,0,.6,1));
}
